<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:conf.properties</value>
			</list>
		</property>
	</bean>
	<!-- ========================= DEFINITIONS OF PUBLIC CONTROLLERS ========================= -->
	<bean id="defaultHandlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/search.do">searchController</prop>
			</props>
		</property>
	</bean>
	
	<bean id="searchController" class="com.war.controller.SearchController">
		<property name="searchService">
			<ref bean="searchService" />
		</property>
	</bean>
	
	<bean id="searchService" class="com.war.service.SearchService">
		<property name="searchDao">
			<ref bean="searchDao"/>
		</property>
	</bean>
	
	<bean id="searchDao" class="com.war.dao.SearchDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="baseDao" class="com.war.dao.BaseDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- ========================= VIEW DEFINITIONS ========================= -->

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
	</bean>

</beans>
